html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, 'Inter', sans-serif;
}


* {
  box-sizing: border-box;
}

button{
  font-size: 1.4rem;
  padding: 0.6rem 1.8rem;
  color: #fff;
  background-color: #161616;
  border-radius: 10px;
  outline: none;
  border: none;
}

h2{
  text-align: center;
}

table tr {
  text-align: center;
  font-size: 1.4rem;
}

table{
  margin: 2rem 0;
}

.user-info{
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  color: #363636;
}

.save-btn{
  font-size: 1.2rem;
  color: cornflowerblue;
  background-color: #eef;
  font-weight: 700;
}

.success-text{
  color: green;
  font-weight: 1rem;
  font-weight: 600;
  text-align: center;
  opacity: 0.8;
  cursor: default;
}

.avatar-wrapper{
  height: 100px;
  width: 100px;
  background: red;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}