.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2.4rem;
  font-weight: 500;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.2;
  font-size: 1.4rem;
  color: #666;
}

.redText{
  display: block;
  margin-top: 4rem;
  color: #d9315e;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}

